<h1>FindMe Argent</h1>
<form action="/auth/login" method="POST">
  <label for="firstname">First Name:</label>
  <input type="text" id="firstname" name="firstname" required>
  <label for="phone">Phone Number:</label>
  <input type="text" id="phone" name="phone" required>
  <button type="submit">Login / Register</button>
</form>
